.card,
.communication,
.trick,
.communicated {
  position: relative;
  height: 150px;
  width: 105px;
  border: 5px solid white;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .small-value {
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    p {
      margin: 0 5px;
      color: white;
      font-size: 25px;
      .rocket-emoji {
        font-size: 16px;
      }
    }
  }
  .small-value:last-child {
    transform: rotate(180deg);
  }
  .big-value {
    flex: 1;
    display: flex;
    align-items: center;
    p {
      margin: 0;
      color: white;
      font-size: 60px;
    }
  }

  .comm-token {
    &--high-low {
      top: -15px;
      position: relative;
      height: 45px;
      width: 45px;
      img {
        width: 100%;
      }
    }
    position: relative;
    height: 45px;
    width: 45px;
    img {
      width: 100%;
    }
  }
}

.task,
.trick,
.communication {
  margin-right: 10px;
}
.task:last-child,
.trick:last-child,
.communication:last-child {
  margin-right: 0px;
}
.card.disabled {
  cursor: not-allowed;
}

.task {
  box-sizing: border-box;
  height: 100px;
  width: 64px;
  border: 2.5px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  p {
    color: white;
    font-size: 50px;
    margin: 0;
  }
}
.task.disabled,
.trick.disabled {
  cursor: not-allowed;
}

.communicated {
  border-style: double;
  border-color: black;
}
