.communicated-card {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    height: 35px;
  }
  .header,
  .player-tasks-array,
  .communicated-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .player-tasks-array,
  .communicated-card-container {
    flex: 1;
  }
}
