.trick-play {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: center;
  min-height: 0;
  justify-content: space-evenly;
  .task-container {
    display: flex;
  }
}
.trick-play-container {
  display: flex;
  flex: 1 1 0;
}
.trick-container {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}
