.card,
.communication {
  position: relative;
  height: 200px;
  min-width: 128px;
  border: 5px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .small-value {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    p {
      margin: 0 5px;
      color: white;
      font-size: 25px;
    }
  }
  .small-value:last-child {
    transform: rotate(180deg);
  }
  .big-value {
    flex: 1;
    display: flex;
    align-items: center;
    p {
      margin: 0;
      color: white;
      font-size: 100px;
    }
  }

  .comm-token {
    &--high-low {
      top: -15px;
      position: relative;
      height: 45px;
      width: 45px;
      img {
        width: 100%;
      }
    }
    position: relative;
    height: 45px;
    width: 45px;
    img {
      width: 100%;
    }
  }
}

.card.disabled {
  cursor: not-allowed;
}

.trick,
.task {
  box-sizing: border-box;
  height: 100px;
  width: 64px;
  border: 2.5px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  p {
    color: white;
    font-size: 50px;
    margin: 0;
  }
}
.task.disabled,
.trick.disabled {
  cursor: not-allowed;
}
